	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #fff;
		font-family: 'Didact Gothic', sans-serif;
		font-size: 12pt;
		font-weight: 200;
		color: white;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
	}
	
	p
	{
		line-height: 180%;
	}
	
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1200px;
	}
	

/*..........................Button Style..........................*/

	.button
	{
		display: inline-block;
		padding: 1em 2em 1em 2em;
		letter-spacing: 0.10em;
		margin-top: 2em;
		padding: 1.40em 3em;
		background: blue;
		border-radius: 6px;
		font-weight: 700;
		font-size: 1em;
		color: white;
	}
	
	.button-alt
	{
		padding: 1em 2em;
		color: white;
	}
		


/*..........................Header..........................*/


	#wrapper
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: white;
	}


/*..........................Header..........................*/


	#header-wrapper
	{
		position: relative;
		padding: 2em 0em 2em 0em;
		background:url(images/blue.jpg);
        background-repeat: no-repeat;
        height: 20%;
		background-size: cover;
        
	}

	#header
	{
		position: absolute;
		padding: 5em 0em;
	}


/*..........................Logo..........................*/


	#logo
	{
		position: absolute;
		top: 3.6em;
		left: 0;
	}
	
	#logo a
	{
		text-decoration: none;
		color: rgba(255,255,255,1);
	}


/*..........................Menu..........................*/


	#menu
	{
		position: absolute;
		top: 4.5em;
		right: 0;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: rgba(255,255,255,0.80);
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .active a
	{
		background: blue;
		border-radius: 6px;
		color: rgba(255,255,255,1);
	}
	

/*..........................kolom ke-1.........................*/

	#kol1
	{
		padding-top: 10em;
		text-align: center;
	}
	
	#kol1 .title h2
	{
		font-size: 4
		em;
	}
	
	#kol1 .title .byline
	{
		font-size: 2em;
	}
	
	#kol1 .button
	{
		margin-top: 2em;
		padding: 1.40em 3em;
		border-radius: 6px;
		font-weight: 700;
		font-size: 1em;
		
	}
	
	.kol1
	{
		margin-bottom: 5em;
	}


/*..........................kolom ke -3.........................*/


	#kol3
	{
		position: relative;
		padding: 7em 0em 7em 0em;
		background: blue;
		background-size: cover;
		text-align: center;
	}
	
	#kol3 .container
	{
		width: 1000px;
		padding: 0px 100px;
		color: rgba(255,255,255,0.8);
	}
	
	#kol3 a
	{
		color: rgba(255,255,255,1);
	}
	
	#kol3 .button
	{
		background: white;
		color: blue;
	}


/*..........................kolom ke-2..........................*/


	#kol2
	{
		text-align: center;
		color: rgba(0,0,0,0.6);
	}

	#kol2 .fa
	{
		display: block;
		padding: 1em 0em;
		color: rgba(0,0,0,1);
		font-size: 2em;
	}
	
	#kol2 .title h2
	{
		font-weight: bold;
		color: rgba(0,0,0,0.8);
	}

	#kol2 .title .byline
	{
		text-align: center;
		color: rgba(0,0,0,.5);
	}

